  
  <div id="app-container" [className]="sidebar.containerClassnames">
    <app-topnav></app-topnav>
    <app-sidebarSuperAdmin></app-sidebarSuperAdmin>
   

        <router-outlet></router-outlet>
      
    <app-footer></app-footer>
  </div>
  
    