
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'mission.add-new-station' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="addSiteFrom" class="modal-body" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-4">
            <div class="mt-4">
                <label>{{ 'mission.longitude' | translate }}</label>
                <input class="form-control" rows="3" required formControlName="longitude" [(ngModel)]="site.longitude" name ="longitude" [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }">
                <div *ngIf="submitted && f.longitude.invalid" class="invalid-feedback">  
                  <div *ngIf="f.longitude.errors.required">Longitude is required.</div>  
                  <div *ngIf="f.longitude.errors.pattern">Please, Enter A Valid Longitude.</div>  
              </div> 
              </div>
            <div class="mt-4">
                <label>{{ 'mission.latitude' | translate }}</label>
                <input class="form-control" rows="3" required formControlName="latitude" [(ngModel)]="site.latitude" name ="latitude" [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }">
                <div *ngIf="submitted && f.latitude.invalid" class="invalid-feedback">  
                  <div *ngIf="f.latitude.errors.required">Latitude is required.</div>  
                  <div *ngIf="f.latitude.errors.pattern">Please, Enter A Valid Latitude.</div>  
              </div>
              </div>
          <div class="mt-4">
            <label>{{ 'mission.name' | translate }}</label>
            <input class="form-control" rows="3" required formControlName="name" [(ngModel)]="site.name" name ="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required"> Site Name is required</div>
        </div>
          </div>
    </div>
            <div class="col-8">
          
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="mb-4">{{'maps.google' | translate}}</h5>
                  <agm-map 
                    class="map-item" 
                    [zoomControl]="true" 
                    [latitude]="34.37306077708563" 
                    [longitude]="9.406955408720227" 
                    [zoom]="7" [disableDefaultUI]="false"
                    [zoomControl]="false"
                    style=" height: 300px; " 
                    (mapClick)="placeMarker($event)"
                    >
        
                    <agm-marker 
            [latitude]="34.37306077708563"
            [longitude]="34.37306077708563" 
            
            >
        
            
          </agm-marker>
         
                  </agm-map>
                  
                </div>
              </div>
          
              
            </div>
          </div>
       
    

   
      
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"
        (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>
    <button type="submit" class="btn btn-primary float-right">{{ 'survey.submit' | translate}}</button>
</div>
</form></ng-template>