<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{currentUser.userName}} {{'modal.profil' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="card">
      <div class="card-body">
    <form [formGroup]="form01"  (ngSubmit)='submit()'>
      <div class="form-group">
          <aw-wizard [navBarLayout]="'large-empty-symbols'">
          <aw-wizard-step stepTitle="{{ 'company.companyInfo' | translate }}" style="min-height: 230px;">
            <ng-template awWizardStepSymbol><i class="iconsminds-office" style="color: red;"></i></ng-template>
            <div>
                <div class="form-group">
                    <label>{{ 'table.socialReason' | translate }}</label>
                    <input type="text" readonly class="form-control" placeholder="" formControlName="registrationNumber" id="registrationNumber" required [(ngModel)]="currentUser.company.socialReason" name="registrationNumber">
                </div>
                <div class="form-group">
                    <label>{{ 'table.address' | translate }}</label>
                    <input type="text" readonly class="form-control" placeholder="" formControlName="address" id="address" required [(ngModel)]="currentUser.company.address"  name="registrationNumber">
                </div>
                <div class="form-group">
                    <label>{{ 'table.phoneNumber' | translate }}</label>
                    <input type="text" readonly class="form-control" placeholder="" formControlName="phoneNumber" id="phoneNumber" [(ngModel)]="currentUser.company.phoneNumber" required  name="power">
                </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-outline-primary"
          (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>{{" "}}
              <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
            </div>
          </aw-wizard-step>
          <aw-wizard-step stepTitle="{{ 'company.userInfo' | translate }}" style="min-height: 230px;">
            <ng-template awWizardStepSymbol><i class="simple-icon-user" style="color: red;"></i></ng-template>
            <div>
                <div class="form-group">
                    <label>{{ 'user.firstName' | translate }}</label>
                    <input type="text" class="form-control" placeholder="" formControlName="firstName" id="firstName" [(ngModel)]="currentUser.firstName" name="firstName">
                </div>
                <div class="form-group">
                    <label>{{ 'user.lastName' | translate }}</label>
                    <input type="text" class="form-control" placeholder="" formControlName="lastName" id="lastName" required [(ngModel)]="currentUser.lastName" name="lastName">
                </div>
                <div class="form-group">
                    <label>{{ 'user.username' | translate }}</label>
                    <input type="text" class="form-control" placeholder="" formControlName="userName" id="userName" [(ngModel)]="currentUser.userName" required name="userName">
                </div>
                <div class="form-group">
                    <label>{{ 'user.email' | translate }}</label>
                    <input type="text" class="form-control" placeholder="" formControlName="email" id="email" [(ngModel)]="currentUser.email" required  name="email">
                </div>
               
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{" "}}
              <button  (click)="update()" type="button" class="btn btn-primary" [disabled]="!disableBtn" awNextStep>{{ 'wizard.update' | translate }}</button>
            </div>
          </aw-wizard-step>
         
        </aw-wizard>
      </div>
      </form>
      </div>
    </div>
    
  
</div>
</ng-template>