<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.update-modal-driver' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="modal-body" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-4">
            <div class="mt-4">
                <label>{{ 'mission.longitude' | translate }}</label>
                <input class="form-control" rows="3" [(ngModel)]="site.longitude" name ="longitude">
            </div>
            <div class="mt-4">
                <label>{{ 'mission.latitude' | translate }}</label>
                <input class="form-control" rows="3" [(ngModel)]="site.latitude" name ="latitude">
            </div>
          <div class="mt-4">
            <label>{{ 'mission.name' | translate }}</label>
            <input class="form-control" rows="3" [(ngModel)]="site.name" name ="name">
        </div>
    </div>
            <div class="col-8">
          
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="mb-4">{{'maps.google' | translate}}</h5>
                  <agm-map 
                    class="map-item" 
                    [zoomControl]="true" 
                    [latitude]="34.37306077708563" 
                    [longitude]="9.406955408720227" 
                    [zoom]="7" [disableDefaultUI]="false"
                    [zoomControl]="false"
                    style=" height: 300px; " 
                    (mapClick)="placeMarker($event)"
                    >
        
                    <agm-marker 
            [latitude]="34.37306077708563"
            [longitude]="34.37306077708563" 
            
            >
        
            
          </agm-marker>
         
                  </agm-map>
                  
                </div>
              </div>
          
              
            </div>
          </div>
       
    

   
      
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"
        (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>
    <button type="submit" class="btn btn-primary float-right">{{ 'survey.submit' | translate}}</button>
</div>
</form>
  </ng-template>