<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left">{{'pages.add-new-modal-truck' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form [formGroup]="addTruckFrom" (ngSubmit)="onSubmit()">

  <div class="modal-body">
      <div class="form-group">
          <label>{{ 'truck.registration-number' | translate }}</label>
          <input type="text" class="form-control" placeholder="" id="registrationNumber" required formControlName="registrationNumber" [(ngModel)]="truck.registrationNumber" name="registrationNumber" [ngClass]="{ 'is-invalid': submitted && f.registrationNumber.errors }">
          <div *ngIf="error == 'Error: Register Number is already taken!'" >Truck is already taken! </div>
          <div *ngIf="submitted && f.registrationNumber.errors" class="invalid-feedback">
            <div *ngIf="f.registrationNumber.errors.required"> Registration Number is required</div>
        </div>
        </div>
      <div class="form-group">
          <label>{{ 'truck.model' | translate }}</label>
          <label class="w-100">
              <ng-select appearance="outline" [searchable]="true" id="model" required formControlName="model" [(ngModel)]="truck.model" name="model" [ngClass]="{ 'is-invalid': submitted && f.model.errors }">
                  <ng-option *ngFor="let item of categories" [value]="item.value">{{item.label}}
                  </ng-option>
              </ng-select>
          </label>
          <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
            <div *ngIf="f.model.errors.required"> Model is required</div>
        </div>
        </div>
      <div class="form-group">
          <label>{{ 'truck.power' | translate }}</label>
          <input type="text" class="form-control" placeholder="" id="power" required formControlName="power" [(ngModel)]="truck.power" name="power" [ngClass]="{ 'is-invalid': submitted && f.power.errors }">
          <div *ngIf="submitted && f.power.errors" class="invalid-feedback">
            <div *ngIf="f.power.errors.required"> Power is required</div>
        </div>
        </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary"
          (click)="hide()">{{'pages.cancel' | translate }}</button>
      <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
  </div>
  </form>>
</ng-template>
