<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'company.listUsers' | translate}} {{'company.of' | translate}} {{company.socialReason}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{'user.firstName' | translate}}</th>
                            <th scope="col">{{'user.lastName' | translate}}</th>
                            <th scope="col">{{'user.email' | translate}}</th>
                            <th scope="col">{{'user.roles' | translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of users; let i=index">
                            <th scope="row">{{i+1}} </th>
                            <td>{{item.firstName}}</td>
                            <td>{{item.lastName}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.roles}}</td>

                            

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

</ng-template>
