<div id="app-container" [className]="sidebar.containerClassnames">
  <app-topnav></app-topnav>
  <app-sidebar></app-sidebar>
  <main style="margin-left: 100px;">
    <div class="container-fluid" >
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-footer></app-footer>
</div>
  