<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.add-new-modal-driver' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="addDriverFrom" (ngSubmit)="onSubmit()">
  
    <div class="modal-body">
        <div class="form-group">
            <label>{{ 'driver.firstName' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="firstName" required formControlName="firstName" [(ngModel)]="driver.firstName" name="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
            <div *ngIf="error == 'Error: Driver is already exists!'" >Driver is already exists! </div>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'driver.lastName' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="lastName" required formControlName="lastName" [(ngModel)]="driver.lastName" name="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
            <div *ngIf="error == 'Error: Driver is already exists!'">Driver is already exists! </div>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'driver.phoneNumber' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="phoneNumber" required formControlName="phoneNumber" [(ngModel)]="driver.phoneNumber" name="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
            <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="alert alert-danger">  
                <div *ngIf="f.phoneNumber.errors.required">Mobile Number is required.</div>  
                <div *ngIf="f.phoneNumber.errors.pattern">Please, Enter 10 digit Mobile Number.</div>  
            </div> 
        </div>
        <div class="form-group">
            <label>{{ 'driver.email' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="email" required formControlName="email" [(ngModel)]="driver.email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label>{{ 'driver.address' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="address" required formControlName="address" [(ngModel)]="driver.address" name="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
            (click)="hide()">{{'pages.cancel' | translate }}</button>
        <button type="submit"   class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
    </div>
    </form>
  </ng-template>