<ng-template #template>

    <div class="modal-header">
      <h4 class="modal-title pull-left"> {{'modal.addUser' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  
  <div class="modal-body">
            <div class="card mb-4">
                <div class="card-body">
              
                  <form [formGroup]="addUserFrom" (ngSubmit)="onSubmit()" >
                    <div class="form-group">
                      <label>{{ 'forms.firstname' | translate }}</label>
                      <input type="text" class="form-control"  required formControlName="firstName" [(ngModel)]="form.firstName" name="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>       
                    </div>
                    <div class="form-group">
                      <label>{{ 'forms.lastname' | translate }}</label>
                      <input type="text" class="form-control"required formControlName="lastName" [(ngModel)]="form.lastName" name="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>   
                    </div>
                    <div class="form-group">
                      <label>{{ 'forms.userName' | translate }}</label>
                      <input type="text" class="form-control"  required formControlName="userName" [(ngModel)]="form.userName" name="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                     <div *ngIf="error == 'Error: Username is already taken!'">Username is already taken! </div>
                     <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">User Name is required</div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'forms.email' | translate }}</label>
                        <input type="text" class="form-control"   required formControlName="email" [(ngModel)]="form.email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="error == 'Error: Email is already in use!'">Error: Email is already in use! </div>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group error-l-75">
                      <label>{{ 'forms.password' | translate }}</label>
                      <input type="password" class="form-control" name="password"  required formControlName="password" [(ngModel)]="form.password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" minlength="8" pattern="([A-Za-z]+[0-9]|[0-9]+[A-Za-z])[A-Za-z0-9]*">
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>    
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary"
                                (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>
                            <button type="submit" class="btn btn-primary float-right">{{ 'survey.submit' | translate}}</button>
                        </div>               
                       </form>
              
                </div>
              </div>
              
      
    
  </div>
  </ng-template>