<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'mission.add-new-mission' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="modal-body" (ngSubmit)="onSubmit()">
      
            <div  class="form-group mb-3" [formGroup]="docForm1">
              <label>{{ 'mission.startDate' | translate }}</label>
              <input type="datetime-local" placeholder="Datepicker" id="start" formControlName="startDateTime" class="form-control" name="missionStartDate" [(ngModel)]="mission.startDate" name="startDate" 
              [min]="minDateStart" required (ngModelChange)="onChangeDate($event)" >
            </div>
          
          <div class="mt-4">
            <label>{{ 'mission.description' | translate }}</label>
            <textarea class="form-control" rows="3" [(ngModel)]="mission.description" name ="description"></textarea>
        </div>
        

       
          <div class="w-100">
            <label>{{ 'mission.selectDriver' | translate }}</label>
            <label class="w-100">
            <ng-select appearance="outline" [addTag]="addTagFn" [hideSelected]="true" multiple="true" bindLabel="name"
              [(ngModel)]="mission.drivers" name ="driver">
              <ng-option *ngFor="let item of drivers" [value]="item.value">{{item.label}}
            </ng-option>
            </ng-select>
            </label>
          </div>
        <div class="mt-4" >
            <label>{{ 'mission.selectTruck' | translate }}</label>
            <label class="w-100">
                <ng-select appearance="outline" [searchable]="false"  [(ngModel)]="truckmission" name ="truck">
                    <ng-option *ngFor="let item of trucks" [value]="item.value">{{item.label}}
                    </ng-option>
                </ng-select>
            </label>
        </div>
        <div class="mt-4"  class="input-group"  >
          <label>{{ 'mission.addDepartureSite' | translate }}</label>
          <label class="w-70" >
              <ng-select   appearance="outline" [searchable]="false" [(ngModel)]="site1" name ="site1">
                  <ng-option *ngFor="let item of sites" [value]="item.value">{{item.label}}
                  </ng-option>
              </ng-select>
          </label>
          <div class="input-group-lg">
            <button class="btn btn-outline-secondary" type="button" (click)=onAddNewItem()><div class="simple-icon-magnifier-add"></div></button>
          </div>
          <app-add-site #addNewModalRef (listSite)="onStateChange($event)"></app-add-site>

      </div>
      <label>{{ 'mission.addArrivalSite' | translate }}</label>
      <div class="mt-4" class="input-group">
        <label class="w-70">
            <ng-select appearance="outline" [searchable]="false" [(ngModel)]="site2" name ="site2">
                <ng-option *ngFor="let item of sites" [value]="item.value">{{item.label}}
                </ng-option>
            </ng-select>
        </label>
        <div class="input-group-lg">
          <button class="btn btn-outline-primary" type="button" (click)=onAddNewItem()><div class="simple-icon-magnifier-add"></div></button>
        </div>
        <app-add-site #addNewModalRef></app-add-site>

    </div>
    <label>{{ 'mission.addOtherSites' | translate }}</label>
    <div class="mt-4" class="input-group">
      <label class="w-70">
          <ng-select appearance="outline" [addTag]="addTagFn" [hideSelected]="true" multiple="true" bindLabel="name"
          [(ngModel)]="site3" name ="site3">
          <ng-option *ngFor="let item of sites" [value]="item.value">{{item.label}}
        </ng-option>
        </ng-select>
      </label>
      <div class="input-group-lg">
        <button class="btn btn-outline-danger" type="button" (click)=onAddNewItem()><div class="simple-icon-magnifier-add"></div></button>
      </div>
      <app-add-site #addNewModalRef></app-add-site>

  </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
            (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right">{{ 'survey.submit' | translate}}</button>
    </div>
</form>

</ng-template>
