<div class="row">
    <div class="col-12">
      <app-heading></app-heading>
      <div class="top-right-button-container text-zero">
        <button type="button" (click)="onAddNewItem()"
          class="top-right-button btn btn-primary btn-lg mr-1">{{ 'pages.add-new' | translate}}</button>
       
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="display-options-container">
        <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
          (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
          aria-controls="displayOptions">
          {{ 'pages.display-options' | translate}} {{' '}}
          <i class="simple-icon-arrow-down align-middle"></i>
        </a>
        <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
          <span *ngIf="showDisplayMode" class="mr-3 mb-2 d-inline-block float-md-left">
            <a href="javascript:;" [ngClass]="{'mr-2 view-icon':true , 'active' : displayMode==='list'}"
              (click)="onSelectDisplayMode('list')">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                <path class="view-icon-svg" d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                <path class="view-icon-svg" d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                <path class="view-icon-svg" d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
              </svg>
            </a>
            
          </span>
          <div class="d-block d-md-inline-block position-relative" *ngIf="showOrderBy">
           
          </div>
  
          <div class="d-inline-block" *ngIf="showSearch">
            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
              <input class="form-control" placeholder="Search" (keyup)="onSearchKeyUp($event)">
            </div>
          </div>
         
        </div>
        <div class="separator mb-4"></div>
      </div>
    </div>
  </div>
  