<div class="row app-row">
  <div class="col-12">

    <app-mission-header [displayMode]="displayMode" [itemOptionsPerPage]="[5,10,20]" [itemsPerPage]="itemsPerPage"
      [selectAllState]="selectAllState" (changeDisplayMode)="changeDisplayMode($event)" (addNewItem)="showAddNewModal()"
      (selectAllChange)="selectAllChange($event)" (itemsPerPageChange)="itemsPerPageChange($event)"
      (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
    </app-mission-header>
    <app-add-mission #addNewModalRef (addNewItem)="showAddNewSite()" (listMission)="onStateChange($event)">
    </app-add-mission>
    <app-add-site #addNewSiteRef></app-add-site>
    <app-update-mission #updateNewModalRef></app-update-mission>

    <context-menu #basicMenu>
      <ng-template contextMenuItem let-item (execute)="onContextMenuClick('copy',$event.item)">
        <i class="simple-icon-docs mr-1"></i> <span>Copy</span>
      </ng-template>
      <ng-template contextMenuItem let-item (execute)="onContextMenuClick('move-to-archive',$event.item)">
        <i class="simple-icon-drawer mr-1"></i> <span>Move to archive</span>
      </ng-template>
      <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',$event.item)">
        <i class="simple-icon-trash mr-1"></i><span>Delete</span>
      </ng-template>
    </context-menu>

    <ng-container>
      <div class="row">

        <div class="col-12 list" *ngIf="displayMode==='list'">
          <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}"
            *ngFor="let p of mission; let i=index" [contextMenu]="basicMenu" [contextMenuSubject]="p">
            <div class="d-flex flex-grow-1 min-width-zero">
              <div
                class=" align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">
                <div class="col-lg-2 col-md-2">

                  <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="javascript:;">
                    <p style="color: #145388; font-style: italic;">Start Date</p>
                    {{p.startDate| date:'longDate'}}<br>
                    {{p.startDate| date:'shortTime'}}

                  </a>
                </div>

                <div class="col-lg-2 col-md-2">

                  <a class="list-item-heading mb-0 truncate w-40 w-xs-100" >
                    <p style="color: #145388; font-style: italic;">Associated Truck</p>
                    {{p.drivers[0].truck.registrationNumber}}
                  </a>
                </div>
                <div class="col-lg-2 col-md-2">

                  <a class="mb-0 text-muted text-small w-15 w-xs-100">
                    <p style="color: #145388; font-style: italic;">Description</p>
                    {{p.description}}
                  </a>
                </div>
                <div class="col-lg-2 col-md-2">


                  <div class="list-item-heading " style="box-sizing: border-box;">
                    <button type="button" class="btn btn-primary" (click)="openModal(template)">{{'modal.sites' |
                      translate}}</button>
                    <ng-template #template>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">{{'modal.sites' | translate}}</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">

                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">№</th>
                              <th scope="col">{{'table.name' | translate}}</th>
                              <th scope="col">{{'table.longitude' | translate}}</th>
                              <th scope="col">{{'table.latitude' | translate}}</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of p.sites; let i=index">
                              <th scope="row">{{i+1}} </th>
                              <td>{{item.name}}</td>
                              <td>{{item.longitude}}</td>
                              <td>{{item.latitude}}</td>
                              <td *ngIf="i==0; "><button type="button" class="btn btn-success mb-1">Départ</button></td>
                              <td *ngIf="i!=0 && i!=p.sites.length-1 "><button type="button"
                                  class="btn btn-info mb-1">Station {{i}}</button></td>
                              <td *ngIf="i==p.sites.length-1; "><button type="button"
                                  class="btn btn-secondary mb-1">Arrivée</button></td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                    </ng-template>

                  </div>
                </div>
                <div class="col-lg-2 col-md-2">

                  <div class="list-item-heading ">

                    <accordion>
                      <accordion-group heading="{{'collapse.drivers' | translate}}" [panelClass]="'border'"
                        [isOpen]="false">
                        <div class="w-15 w-sm-100" *ngFor="let d of p.drivers">

                          <span [class]="'badge badge-pill badge-'+ 'primary'">
                            <li>{{d.firstName }} {{d.lastName}}</li>
                          </span>

                        </div>
                      </accordion-group>

                    </accordion>

                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div *ngIf="p.status=='EnCours'">
                    <span [class]="'badge badge-pill badge-'+ 'success'">{{p.status}}</span>
                  </div>
                  <div *ngIf="p.status=='Terminé'">
                    <span [class]="'badge badge-pill badge-'+ 'danger'">{{p.status}}</span>
                  </div>
                  <div *ngIf="p.status=='EnAttente'">
                    <span [class]="'badge badge-pill badge-'+ 'info'">{{p.status}}</span>
                  </div>
                </div>
              </div>
              <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                <div (click)="updateMission(p)" class="iconsminds-file-edit" style="color: orangered;font-size: 20px;">
                </div>

              </label>
              <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(p)"
                  (change)="onSelect(p)">
                <label class="custom-control-label" [for]="'customCheck'+i"></label>
              </label>
            </div>
          </div>
        </div>

        <div class="col-12 list" *ngIf="displayMode==='thumb'">
          <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}"
            *ngFor="let p of data; let i=index" [contextMenu]="basicMenu" [contextMenuSubject]="p">
            <a class="d-flex" href="javascript:;">
              <img [src]="p.img" [alt]="p.title" class="list-thumbnail responsive border-0 card-img-left" />
            </a>
            <div class="pl-2 d-flex flex-grow-1 min-width-zero">
              <div
                class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                <a href="javascript:;" class="w-40 w-sm-100">
                  <p class="list-item-heading mb-0 truncate">{{p.title}}</p>
                </a>
                <p class="mb-0 text-muted text-small w-15 w-sm-100">{{p.category}}</p>
                <p class="mb-0 text-muted text-small w-15 w-sm-100">{{p.date}}</p>
                <div class="w-15 w-sm-100" *ngIf>
                  <span
                    [class]="'badge badge-pill position-absolute badge-top-left badge-'+ p.statusColor">{{p.status}}</span>
                </div>
              </div>
              <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(p)"
                  (change)="onSelect(p)">
                <label class="custom-control-label" [for]="'customCheck'+i"></label>
              </label>
            </div>
          </div>
        </div>

        <div class="col-12 list" *ngIf="displayMode==='image'">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let p of data; let i=index"
              [contextMenu]="basicMenu" [contextMenuSubject]="p">
              <div [ngClass]="{'card': true, 'active':isSelected(p)}">
                <div class="position-relative">
                  <a href="javascript:;"><img class="card-img-top" [src]="p.img" [alt]="p.title"></a>
                  <span
                    [class]="'badge badge-pill position-absolute badge-top-left badge-'+ p.statusColor">{{p.status}}</span>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <div class="custom-control custom-checkbox pl-1">
                        <label class="custom-control custom-checkbox  mb-0">
                          <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i"
                            [checked]="isSelected(p)" (change)="onSelect(p)">
                          <label class="custom-control-label" [for]="'customCheck'+i"></label>
                        </label>
                      </div>
                    </div>
                    <div class="col-10">
                      <a href="javascript:;">
                        <p class="list-item-heading mb-4 pt-1">{{p.title}}</p>
                      </a>
                      <footer>
                        <p class="text-muted text-small mb-0 font-weight-light">{{p.date}}</p>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
            [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
            previousText="<i class='simple-icon-arrow-left'></i>" nextText="<i class='simple-icon-arrow-right'></i>">
          </pagination>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-application-menu>
  <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
    <div class="p-4 h-100">
      <div class="scroll">
        <p class="text-muted text-small">{{ 'survey.status' | translate }}</p>
        <ul class="list-unstyled mb-4">
          <li class="nav-item">
            <a href="#">
              <i class="simple-icon-reload"></i>{{ 'survey.enCours' | translate }}
              <span class="float-right">{{nbrMissionEnCours}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#">
              <i class="simple-icon-refresh"></i>{{ 'survey.termine' | translate }}
              <span class="float-right">{{nbrMissioTermine}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#">
              <i class="simple-icon-check"></i>{{ 'survey.enAttente' | translate }}
              <span class="float-right">{{nbrMissionEnAttente}}</span>
            </a>
          </li>
        </ul>
        <p class="text-muted text-small mb-4">
          {{ 'survey.categories' | translate }}
        </p>
        <ul class="list-unstyled mb-5">
          <form [formGroup]="filterForm">
            <li>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" formControlName="enCours"
                  (change)="filterEtat($event)" id="category1">
                <label class="custom-control-label" for="category1">En cours</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" formControlName="termine"
                  (change)="filterEtat($event)" id="category2">
                <label class="custom-control-label" for="category2">Terminé</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox ">
                <input type="checkbox" class="custom-control-input" formControlName="enAttente"
                  (change)="filterEtat($event)" id="category3">
                <label class="custom-control-label" for="category3">En Attente</label>
              </div>
            </li>
          </form>
        </ul>
      </div>
    </div>
  </perfect-scrollbar>
</app-application-menu>