<main>

        <div class="row ">
            <div class="col-12">
                <app-header-super-admin [displayMode]="displayMode" [itemOptionsPerPage]="[5,10,20]" [itemsPerPage]="itemsPerPage"
                [selectAllState]="selectAllState" (changeDisplayMode)="changeDisplayMode($event)" (addNewItem)="showAddNewModal()"
                (selectAllChange)="selectAllChange($event)" (itemsPerPageChange)="itemsPerPageChange($event)"
                (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
              </app-header-super-admin>
              <app-list-users #showUsersModalRef></app-list-users>
              <app-add-company #addNewModalRef (listCompany)="onStateChange($event)"></app-add-company>

              <ng-container >
            <div class="row">

                <div class="col-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{'table.listCompanies' | translate}}</h5>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{{'table.socialReason' | translate}}</th>
                                        <th scope="col">{{'table.address' | translate}}</th>
                                        <th scope="col">{{'table.phoneNumber' | translate}}</th>
                                        <th scope="col">{{'table.nbrUsers' | translate}}</th>
                                        <th scope="col">{{'table.nbrDrivers' | translate}}</th>
                                        <th scope="col">{{'table.nbrTrucks' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of company; let i=index">
                                        <th scope="row">{{i+1}} </th>
                                        <td>{{item.socialReason}}</td>
                                        <td>{{item.address}}</td>
                                        <td>{{item.phoneNumber}}</td>
                                        <td>{{item.nbrUsers}}</td>
                                        <td>{{item.nbrDrivers}}</td>
                                        <td>{{item.nbrTrucks}}</td>
                                        <td><a (click)="showUsers(item)">Show users</a></td>

                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        </div>
    </div>


</main>