<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.update-modal-truck' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onSubmit()">
  
    <div class="modal-body">
        <div class="form-group">
            <label>{{ 'truck.registration-number' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="registrationNumber" required [(ngModel)]="truck.registrationNumber" name="registrationNumber">
        </div>
        <div class="form-group">
            <label>{{ 'truck.model' | translate }}</label>
            <label class="w-100">
                <ng-select appearance="outline" [searchable]="true" id="model" required [(ngModel)]="truck.model" name="model">
                    <ng-option *ngFor="let item of categories" [value]="item.value">{{item.label}}
                    </ng-option>
                </ng-select>
            </label>
        </div>
        <div class="form-group">
            <label>{{ 'truck.power' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="power" required [(ngModel)]="truck.power" name="power">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
            (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
    </div>
    </form>>
  </ng-template>