<div class="card auth-card">
  <div class="position-relative image-side ">
    
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <span class="logo-singleSfm"></span>
    </a>
    <h6 class="mb-4">Login</h6>

    <form name="form" #f="ngForm" novalidate (ngSubmit)="onSubmit()">
      <label class="form-group has-float-label">
        <input class="form-control" required  ngModel #userName="ngModel" name="userName" [(ngModel)]="form.userName" />
        <span>{{ 'User name' | translate }}</span>
        <div *ngIf="!userName.valid && f.submitted" class="invalid-tooltip">User Name is required!</div>
      </label>
      <label class="form-group has-float-label">
        <input class="form-control" type="password" placeholder="" required ngModel #password="ngModel" name="password"
          [(ngModel)]="form.password" />
        <span>{{ 'user.password' | translate }}</span>
        <div *ngIf="!password.valid && f.submitted" class="invalid-tooltip">Password is required!</div>
      </label>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user.login-button' | translate | uppercase }}
        </app-state-button>
      </div>
    </form>

  </div>
</div>
<simple-notifications></simple-notifications>
