<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'company.add-new-company' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form (ngSubmit)="onSubmit()">

    <div class="modal-body">
      <div class="card">
        <div class="card-body">
          <aw-wizard [navBarLayout]="'large-empty-symbols'">
            <aw-wizard-step stepTitle="{{ 'company.companyInfo' | translate }}" style="min-height: 230px;">
              <ng-template awWizardStepSymbol><i class="iconsminds-office" style="color: red;"></i></ng-template>
              <div>
                <div class="form-group">
                  <label>{{ 'table.socialReason' | translate }}</label>
                  <input type="text" class="form-control" placeholder="" id="registrationNumber" required
                    [(ngModel)]="company.socialReason" name="registrationNumber">
                </div>
                <div class="form-group">
                  <label>{{ 'table.address' | translate }}</label>
                  <input type="text" class="form-control" placeholder="" id="registrationNumber" required
                    [(ngModel)]="company.address" name="registrationNumber">
                </div>
                <div class="form-group">
                  <label>{{ 'table.phoneNumber' | translate }}</label>
                  <input type="text" class="form-control" placeholder="" id="power" required
                    [(ngModel)]="company.phoneNumber" name="power">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'survey.cancel' |
                  translate }}</button>{{" "}}
                <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="{{ 'company.adminInfo' | translate }}" style="min-height: 230px;">
              <ng-template awWizardStepSymbol><i class="simple-icon-user" style="color: red;"></i></ng-template>
              <div>
                <div class="form-group">
                  <label>{{ 'user.firstName' | translate }}</label>
                  <input type="text" class="form-control" placeholder="" id="firstName" required
                    [(ngModel)]="form.firstName" name="firstName">
                </div>
                <div class="form-group">
                  <label>{{ 'user.lastName' | translate }}</label>
                  <input type="text" class="form-control" placeholder="" id="lastName" required
                    [(ngModel)]="form.lastName" name="lastName">
                </div>
                <div class="form-group">
                  <label>{{ 'user.username' | translate }}</label>
                  <input type="text" class="form-control" placeholder="" id="userName" required
                    [(ngModel)]="form.userName" name="userName">
                </div>
                <div class="form-group">
                  <label>{{ 'user.email' | translate }}</label>
                  <input type="text" class="form-control" placeholder="" id="email" required [(ngModel)]="form.email"
                    name="email">
                </div>
                <div class="form-group">
                  <label>{{ 'user.password' | translate }}</label>
                  <input type="password" class="form-control" placeholder="" id="password" required
                    [(ngModel)]="form.password" name="password">
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" awPreviousStep>{{ 'wizard.prev' | translate }}</button>{{""}}
                <button type="submit" class="btn btn-primary ">{{ 'pages.submit' | translate}}</button>
              </div>
            </aw-wizard-step>

          </aw-wizard>
        </div>
      </div>


    </div>

  </form>>

</ng-template>