<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.update-modal-driver' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="onSubmit()">
  
    <div class="modal-body">
        <div class="form-group">
            <label>{{ 'driver.firstName' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="firstName" required [(ngModel)]="driver.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label>{{ 'driver.lastName' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="lastName" required [(ngModel)]="driver.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label>{{ 'driver.phoneNumber' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="phoneNumber" required [(ngModel)]="driver.phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">
            <label>{{ 'driver.email' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="email" required [(ngModel)]="driver.email" name="email">
        </div>
        <div class="form-group">
            <label>{{ 'driver.address' | translate }}</label>
            <input type="text" class="form-control" placeholder="" id="address" required [(ngModel)]="driver.address" name="address">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"
            (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
    </div>
    </form>>
  </ng-template>