<div class="row">
    <div class="col-6">
        <h1 class="display-4">Welcome to Geotracker!</h1>
        <h2 class="display-4">Easily manage your fleet</h2>
    </div>
    <div class="col-6">
        <img alt="Profile Picture" src="/assets/img/track.png" />
    </div>
   
</div>
