<div class="row">
  <div class="col-3">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'maps.ActiveMissionsList' | translate}}</h5>
        <div *ngFor="let mission of missions; let i = index;" [ngClass]="{'mb-3':missions.length!==(i+1)}">
          <div (click)="selectMission(mission)"> <a href="javascript:;" class="w-40 w-sm-100">
              <p class="list-item-heading mb-1 color-theme-1">{{mission.description}}</p>
              <p class="mb-1 text-muted text-small">{{'Truck N° : ' | translate}}
                {{mission.drivers[0].truck.registrationNumber}} </p>
              <p class="mb-1 text-muted text-small">{{'Drivers : ' | translate}} {{mission.drivers[0].firstName + ' ' +
                mission.drivers[0].lastName }}

                {{mission.drivers.length > 1 ? '| ' + mission.drivers[1].firstName + ' ' + mission.drivers[1].lastName :
                null}} </p>
              <p class="mb-4 text-small">{{'Start Date : ' | translate}} {{ mission.startDate| date:'medium' }} </p>
            </a>
          </div>
          <div class="separator mb-5" *ngIf="mission.length!==(i+1)"></div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-9">

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="mb-4">{{'maps.titleMap' | translate}}</h5>
       
        <agm-map class="map-item" [zoomControl]="true" [latitude]="34.37306077708563" [longitude]="9.406955408720227"
          [zoom]="7" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">

          <agm-marker *ngFor="let t of TrucksPosition; let i = index "
            (markerClick)="clickedMarkerTrucks(infowindowvessel,t, i)" [latitude]="t[0]" [longitude]="t[1]"
            [iconUrl]="iconTruck">

            <agm-info-window #infowindowvessel>

                <div fxLayout="column" fxLayoutGap="15px" >

                  <div fxLayout="row" fxFlex="100" class="style2">
                    <!--  <div fxFlex="10">
              <mat-icon> directions_boat </mat-icon>
            </div> -->

                    <!-- <div fxFlex="40">
              <span style="font-size: 15px; font-weight: bold;"> {{vesselDetail ? vesselDetail[0].name : '------'}}
              </span>
            </div> -->
                  </div>
                  <br>

                  <div fxLayout="row" fxFlex="100">

                    <!-- <img src="{{ vesselDetail ? vesselDetail[0].imageSRC : '' }}" fxFlex="60"> -->

                    <div fxFlex="2"> </div>

                   
                  </div>

                  <div fxLayout="row" fxFlex="100" fxLayoutGap="20px" class="style2">



                  </div>

                  <div fxLayout="row" fxFlex="100">

                    <span class="style4" fxFlex="50">Latitude : </span>

                    <span class="style4" fxFlex="50"> {{selectedTruckInfo[selectedTruckInfo.length-1].latitude}} </span>
                  </div>

                  <div fxLayout="row" fxFlex="100">

                    <span class="style4" fxFlex="50"> Longitude : </span>

                    <span class="style4" fxFlex="50">{{selectedTruckInfo[selectedTruckInfo.length-1].longitude}} </span>
                  </div>
                  <div fxLayout="row" fxFlex="100">

                    <span class="style4" fxFlex="50"> Speed : </span>

                    <span class="style4" fxFlex="50">{{selectedTruckInfo[selectedTruckInfo.length-1].speed}} </span>
                  </div>

                  <div fxLayout="row" fxFlex="100">

                    <span class="style4" fxFlex="50"> Fuel Level : </span>

                    <span class="style4" fxFlex="50">{{selectedTruckInfo[selectedTruckInfo.length-1].fuel_level}} </span>
                  </div>

                  <hr>
                  Last Date update : {{selectedTruckInfo[selectedTruckInfo.length-1].date|date:'medium'}}
            
              </div>

            </agm-info-window>
          </agm-marker>

          <agm-marker *ngFor="let s of stations; let i = index " [latitude]="s.latitude" [longitude]="s.longitude"
            [iconUrl]="iconStation">

            <agm-info-window #infowindowvessel>

              <div class="style1">

                <div fxLayout="column" fxLayoutGap="15px">

                  <div fxLayout="row" fxFlex="100" class="style2">


                    <div fxFlex="40">
                      <div class="iconsminds-gas-pump" style="font-size:x-large ;"><span
                          style="font-size: 15px; font-weight: bold;"> {{s.name}}
                        </span> </div>


                    </div>
                  </div>
                  <br>

                  <div fxLayout="row" fxFlex="100">

                    <div fxFlex="2"> </div>

                    <div fxFlex="35">
                      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between start">
                        <span class="style4" fxFlex="20"> Longitude : </span>
                        <span class="style4" fxFlex="20"> {{s.longitude}} </span>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxFlex="100" fxLayoutGap="20px" class="style2">
                  </div>
                  <div fxLayout="row" fxFlex="100">
                    <span class="style4" fxFlex="50"> Latitude : </span>
                    <span class="style4" fxFlex="50"> {{s.latitude}}</span>
                  </div>
                </div>
              </div>

            </agm-info-window>
          </agm-marker>

          <agm-marker *ngFor="let sd of sitesDepart; let i = index " [latitude]="sd.latitude" [longitude]="sd.longitude"
            [iconUrl]="iconDeparture">

            <agm-info-window #infowindowvessel>

              <div class="style1">

                <div fxLayout="column" fxLayoutGap="15px">

                  <div fxLayout="row" fxFlex="100" class="style2">


                    <div fxFlex="40">
                      <div class="iconsminds-gas-pump" style="font-size:x-large ;"><span
                          style="font-size: 15px; font-weight: bold;"> {{sd.name}}
                        </span> </div>


                    </div>
                  </div>
                  <br>

                  <div fxLayout="row" fxFlex="100">

                    <div fxFlex="2"> </div>

                    <div fxFlex="35">
                      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between start">
                        <span class="style4" fxFlex="20"> Longitude : </span>
                        <span class="style4" fxFlex="20"> {{sd.longitude}} </span>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxFlex="100" fxLayoutGap="20px" class="style2">
                  </div>
                  <div fxLayout="row" fxFlex="100">
                    <span class="style4" fxFlex="50"> Latitude : </span>
                    <span class="style4" fxFlex="50"> {{sd.latitude}}</span>
                  </div>
                </div>
              </div>

            </agm-info-window>
          </agm-marker>

          <agm-marker *ngFor="let sa of sitesArrive; let i = index " [latitude]="sa.latitude" [longitude]="sa.longitude"
            [iconUrl]="iconArrive">

            <agm-info-window #infowindowvessel>

              <div class="style1">

                <div fxLayout="column" fxLayoutGap="15px">

                  <div fxLayout="row" fxFlex="100" class="style2">


                    <div fxFlex="40">
                      <div class="iconsminds-gas-pump" style="font-size:x-large ;"><span
                          style="font-size: 15px; font-weight: bold;"> {{sa.name}}
                        </span> </div>


                    </div>
                  </div>
                  <br>

                  <div fxLayout="row" fxFlex="100">

                    <div fxFlex="2"> </div>

                    <div fxFlex="35">
                      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between start">
                        <span class="style4" fxFlex="20"> Longitude : </span>
                        <span class="style4" fxFlex="20"> {{sa.longitude}} </span>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="row" fxFlex="100" fxLayoutGap="20px" class="style2">
                  </div>
                  <div fxLayout="row" fxFlex="100">
                    <span class="style4" fxFlex="50"> Latitude : </span>
                    <span class="style4" fxFlex="50"> {{sa.latitude}}</span>
                  </div>
                </div>
              </div>

            </agm-info-window>
          </agm-marker>

          <agm-marker *ngFor="let t of selectedTruckInfo; let i = index "
          (markerClick)="clickedMarkerTrucks(infowindowvessel,t, i)" 
          [latitude]="t.latitude"
          [longitude]="t.longitude"
           [iconUrl]="iconPoint" 
                                >

<agm-info-window #infowindowvessel>

 <div class="style1">

   <div fxLayout="column" fxLayoutGap="15px">

     <div fxLayout="row" fxFlex="100" class="style2">
      <!--  <div fxFlex="10">
         <mat-icon> directions_boat </mat-icon>
       </div> -->
       
       <!-- <div fxFlex="40">
         <span style="font-size: 15px; font-weight: bold;"> {{vesselDetail ? vesselDetail[0].name : '------'}}
         </span>
       </div> -->
     </div>
     <br>

     <div fxLayout="row" fxFlex="100">

       <!-- <img src="{{ vesselDetail ? vesselDetail[0].imageSRC : '' }}" fxFlex="60"> -->

       <div fxFlex="2"> </div>

       <div fxFlex="35">
         <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between start">

           <span class="style4" fxFlex="20"> IMO : {{t.longitude}}
             </span>

           <span class="style4" fxFlex="20"> Years :
            </span>

           <span class="style4" fxFlex="60"> Length :
              </span>

         </div>
       </div>

     </div>

     <div fxLayout="row" fxFlex="100" fxLayoutGap="20px" class="style2">

     

     </div>

     <div fxLayout="row" fxFlex="100">

       <span class="style4" fxFlex="50"> Date départ : {{t.startDate}}</span>

       <span class="style4" fxFlex="50"> Date arrivée : {{t.endDate}} </span>
     </div>

     <div fxLayout="row" fxFlex="100">

       <span class="style4" fxFlex="50"> Port départ : </span>

       <span class="style4" fxFlex="50"> Port arrivée : </span>
     </div>

     
     <div fxLayout="row" fxFlex="100">
       <span fxFlex="35"> Status : Moored</span>
       <span fxFlex="35"> Speed : </span>
       
     </div>

     <hr>
     Last Date update : 8 minutes ago
   </div>
 </div>

</agm-info-window>
</agm-marker>
          <agm-polyline [visible]="true" [strokeWeight]="5" [strokeColor]="'#07b57a'">

            <agm-polyline-point *ngFor="let coordinate of latlng; let i=index" [latitude]="coordinate[0]"
              [longitude]="coordinate[1]">

            </agm-polyline-point>

          </agm-polyline>


        </agm-map>
      </div>
    </div>


  </div>
</div>