<div class="row">
    <div class="col-12">
      <app-heading></app-heading>
      <div class="top-right-button-container text-zero">
        <button type="button" (click)="onAddNewItem()"
          class="top-right-button btn btn-primary btn-lg mr-1">{{ 'pages.add-new' | translate}}</button>
        
      </div>
      <app-breadcrumb></app-breadcrumb>
      <div class="display-options-container">
        <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
          (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
          aria-controls="displayOptions">
          {{ 'pages.display-options' | translate}} {{' '}}
          <i class="simple-icon-arrow-down align-middle"></i>
        </a>
        <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
          <span *ngIf="showDisplayMode" class="mr-3 mb-2 d-inline-block float-md-left">
            <a href="javascript:;" [ngClass]="{'mr-2 view-icon':true , 'active' : displayMode==='list'}"
              (click)="onSelectDisplayMode('list')">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 19">
                <path class="view-icon-svg" d="M17.5,3H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                <path class="view-icon-svg" d="M17.5,10H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
                <path class="view-icon-svg" d="M17.5,17H.5a.5.5,0,0,1,0-1h17a.5.5,0,0,1,0,1Z" />
              </svg>
            </a>
            
          </span>
          <div class="d-block d-md-inline-block position-relative" *ngIf="showOrderBy">
            <div class="float-md-left mr-1 mb-1" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle"
                aria-controls="dropdown-basic">
                 {{ 'pages.OrderBy' | translate }} : {{itemOrder.label}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a
                    [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeOrderBy(item)">{{item.label}}</a></li>
              </ul>
            </div>
          </div>
  
          <div class="d-inline-block" *ngIf="showSearch">
            <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
              <form [formGroup]="searchForm" (ngSubmit)="onSearchKeyUp($event)">

              <input class="form-control" placeholder="Search" formControlName="searchInput" >
            </form>
            </div>
          </div>
          <div class="float-right" *ngIf="showItemsPerPage">
            <span class="text-muted text-small">Per Page </span>
            <span dropdown class="d-inline-block position-relative">
              <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" dropdownToggle>
                {{itemsPerPage}}
              </button>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                    [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
              </div>
            </span>
          </div>
        </div>
        <div class="separator mb-4"></div>
      </div>
    </div>
  </div>
  